aiofiles
aiogram==2.25.2
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
arrow
async-timeout
attrs
Babel
binaryornot
black
Brotli
certifi
chardet
charset-normalizer
click
colorlog
cookiecutter
environs
frozenlist
g4f
idna
isort
Jinja2
jst-aicommit
jst-django
magic-filter
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
nest-asyncio
packaging
pathspec
platformdirs
polib
prompt-toolkit
propcache
pycryptodome
pydantic
pydantic_core
Pygments
python-dateutil
python-dotenv
python-slugify
pytz
PyYAML
questionary
requests
rich
shellingham
six
tenacity
text-unidecode
tqdm
typer
types-python-dateutil
typing-inspection
typing_extensions
urllib3
wcwidth
yarl
zipfile36